<ng-container *ngIf="!preguntas">
  <nz-card>
    <h2>Selecciona las categorías</h2>
    <p>
      Debe seleccionar al menos un total de 15 preguntas de entre todas las
      categorías.
    </p>
    <p>
      La o las categorías seleccionadas tienen un total de:
      <strong>{{ totalPreguntasPorCategorias }} preguntas.</strong>
    </p>
    <nz-checkbox-wrapper
      class="w-100 mb-16"
      (nzOnChange)="onCambioCategorias($event)"
    >
      <div nz-row>
        <div *ngFor="let categoria of categorias" nz-col nzSpan="8">
          <label nz-checkbox [nzValue]="categoria">{{
            categoria.nombre
          }}</label>
        </div>
      </div>
    </nz-checkbox-wrapper>
    <button
      nz-button
      nzType="primary"
      [disabled]="totalPreguntasPorCategorias < 15"
      (click)="onComenzarPartida()"
    >
      Comenzar partida
    </button>
  </nz-card>
</ng-container>

<ng-container
  *ngIf="!estaPartidaTerminada && preguntas && preguntas[indexPreguntaActual]"
>
  <nz-card>
    <div nz-row>
      <div nz-col [nzSpan]="6">
        <div nz-row [nzGutter]="8">
          <div nz-col>
            <span
              class="vida"
              nz-icon
              nzType="heart"
              [nzTheme]="vidasRestantes >= 1 ? 'fill' : 'outline'"
            ></span>
          </div>
          <div nz-col>
            <span
              class="vida"
              nz-icon
              nzType="heart"
              [nzTheme]="vidasRestantes >= 2 ? 'fill' : 'outline'"
            ></span>
          </div>
          <div nz-col>
            <span
              class="vida"
              nz-icon
              nzType="heart"
              [nzTheme]="vidasRestantes >= 3 ? 'fill' : 'outline'"
            ></span>
          </div>
        </div>
      </div>
      <div nz-col class="text-center" [nzSpan]="12">
        <h4>Pregunta {{ indexPreguntaActual + 1 }}/{{ preguntas.length }}</h4>
        <div>{{ milisegundos | date : "mm:ss" : "UTC" }}</div>
      </div>
      <div nz-col class="text-end" [nzSpan]="6">Puntuación: {{ puntos }}</div>
    </div>
  </nz-card>
  <nz-card>
    <app-pregunta-partida
      [pregunta]="preguntas[indexPreguntaActual]"
      [indexPregunta]="indexPreguntaActual"
      (preguntaRespondida)="onResponder($event)"
    ></app-pregunta-partida>
  </nz-card>
</ng-container>
<app-resultado-partida
  *ngIf="estaPartidaTerminada"
  [puntos]="puntos"
  [vidasRestantes]="vidasRestantes"
></app-resultado-partida>
