<div>
  <h2 class="text-center">Ranking 🏅</h2>
  <div class="text-center-flex pt-16">
    <app-ranking></app-ranking>
  </div>
</div>

<div class="mt-48">
  <ng-container *ngIf="usuario">
    <h2 class="text-center">¿Qué quieres hacer? 🤔</h2>
    <div nz-row class="pt-16" [nzGutter]="24" nzJustify="center">
      <div nz-col>
        <a nz-button nzType="primary" routerLink="/jugar">
          <span nz-icon nzType="question"></span>
          Jugar
        </a>
      </div>
      <div nz-col>
        <a nz-button nzType="primary" routerLink="/preguntas/crear">
          <span nz-icon nzType="highlight"></span>
          Crear pregunta
        </a>
      </div>
      <div *ngIf="esAdmin" nz-col>
        <a nz-button nzType="primary" routerLink="/preguntas">
          <span nz-icon nzType="file-search"></span>
          Revisar pregunta
        </a>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!usuario">
    <h2 class="text-center">
      <a (click)="mostrarRegistro = true">Registrate</a> o
      <a (click)="mostrarInicioSesion = true">inicia sesión</a> para jugar
    </h2>
  </ng-container>
</div>

<app-inicio-sesion
  [(esVisible)]="mostrarInicioSesion"
  (abrirRegistro)="mostrarRegistro = true"
></app-inicio-sesion>
<app-registro
  [(esVisible)]="mostrarRegistro"
  (abrirInicioSesion)="mostrarInicioSesion = true"
></app-registro>
