<div nz-row class="pt-48" [nzGutter]="[32, 32]">
  <div
    nz-col
    [nzLg]="{ span: 5, order: 0 }"
    [nzXs]="{ span: 24, order: 0 }"
    [nzMd]="{ span: 12, order: 0 }"
  >
    <nz-card class="w-100" *ngIf="curiosidad">
      <h4>
        {{ fecha | date : "fullDate" : undefined : "es-ES" | primeraMayus }}
      </h4>
      <nz-divider class="my-16"></nz-divider>
      <p>{{ curiosidad }}</p>
    </nz-card>
  </div>
  <div nz-col [nzLg]="{ span: 14, order: 1 }" [nzXs]="{ span: 24, order: 3 }">
    <div>
      <h2 class="text-center">Ranking 🏅</h2>
      <div nz-row nzJustify="center" class="pt-16">
        <div nz-col>
          <app-ranking></app-ranking>
        </div>
      </div>
    </div>
  </div>
  <div
    nz-col
    [nzLg]="{ span: 5, order: 2 }"
    [nzXs]="{ span: 24, order: 1 }"
    [nzMd]="{ span: 12, order: 1 }"
  >
    <nz-card class="w-100" *ngIf="clima">
      <h4>{{ clima.metadescripcion }}</h4>
      <nz-divider class="my-16"></nz-divider>
      <div class="no-wrap" nz-row [nzGutter]="16">
        <div nz-col [nzFlex]="0">
          <nz-avatar [nzSrc]="clima.imagen"></nz-avatar>
        </div>
        <div nz-col [nzFlex]="1">
          <h5>
            {{ clima.stateSky.description }} | {{ clima.temperatura_actual }}ºC
          </h5>
          <small>
            Mín: {{ clima.temperaturas.min }}ºC | Máx:
            {{ clima.temperaturas.max }}ºC
          </small>
          <small> Precipitación: {{ clima.precipitacion }}% </small>
        </div>
      </div>
      <nz-divider class="my-16"></nz-divider>
      <small> {{ clima.origin.copyright }} </small>
    </nz-card>
  </div>
</div>

<div class="mt-48">
  <ng-container *ngIf="usuario">
    <h2 class="text-center">¿Qué quieres hacer? 🤔</h2>
    <div nz-row class="pt-16" [nzGutter]="[24, 16]" nzJustify="center">
      <div nz-col [nzXs]="24" [nzMd]="7" [nzXl]="5">
        <a nz-button nzBlock nzType="primary" routerLink="/jugar">
          <span nz-icon nzType="question"></span>
          Jugar
        </a>
      </div>
      <div nz-col [nzXs]="24" [nzMd]="7" [nzXl]="5">
        <a nz-button nzBlock nzType="primary" routerLink="/preguntas/crear">
          <span nz-icon nzType="highlight"></span>
          Crear pregunta
        </a>
      </div>
      <div *ngIf="esAdmin" nz-col [nzXs]="24" [nzMd]="7" [nzXl]="5">
        <a nz-button nzBlock nzType="primary" routerLink="/preguntas">
          <span nz-icon nzType="file-search"></span>
          Revisar pregunta
        </a>
      </div>
    </div>
  </ng-container>
  <div *ngIf="broma" class="mt-32 mb-32">
    <h2 class="mb-16 text-center">Chiste malo 🤣</h2>
    <h4 class="text-center fs-cursive">
      <ng-container *ngIf="broma.type === 'single'">
        - {{ broma.joke }}
      </ng-container>
      <ng-container *ngIf="broma.type === 'twopart'">
        <div>- {{ broma.setup }}</div>
        <div>- {{ broma.delivery }}</div>
      </ng-container>
    </h4>
  </div>
  <ng-container *ngIf="!usuario">
    <h2 class="mb-16" class="text-center">
      <a (click)="mostrarRegistro = true">Regístrate</a> o
      <a (click)="mostrarInicioSesion = true">inicia sesión</a> para jugar
    </h2>
  </ng-container>
</div>

<app-inicio-sesion
  [(esVisible)]="mostrarInicioSesion"
  (abrirRegistro)="mostrarRegistro = true"
></app-inicio-sesion>
<app-registro
  [(esVisible)]="mostrarRegistro"
  (abrirInicioSesion)="mostrarInicioSesion = true"
></app-registro>
