<nz-modal
  [(nzVisible)]="esVisible"
  nzTitle="Registro"
  (nzOnCancel)="onCancelar()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="user">
            <input
              nz-input
              formControlName="nombre"
              type="text"
              class="form-control"
              placeholder="Usuario"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="lock">
            <input
              nz-input
              formControlName="clave"
              type="password"
              class="form-control"
              placeholder="Contraseña"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="lock">
            <input
              nz-input
              formControlName="clave2"
              type="password"
              class="form-control"
              placeholder="Contraseña"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div class="text-center">
        ¿Tienes ya una cuenta?
        <a class="pe-cursor-pointer" (click)="onAbrirInicioSesion()"
          >¡Inicia sesión!</a
        >
      </div>
    </form>
  </ng-container>
  <ng-container *nzModalFooter>
    <button nz-button nzType="default" (click)="onCancelar()">Cerrar</button>
    <button
      nz-button
      nzType="primary"
      (click)="onRegistrarse()"
      [disabled]="!form.valid"
    >
      Registrarse
    </button>
  </ng-container>
</nz-modal>
