.cuerpo-pregunta {
  min-height: 250px;
}

.respuesta {
  padding: 20px;
  border: 1px solid white;
  position: relative;
}

.respuestas {
  padding-top: 16px;
}

.respuesta:hover {
  border: 1px solid grey;
}

.letra-respuesta {
  position: absolute;
  top: 0;
  left: 6px;
  font-weight: bold;
  font-size: 0.8rem;
}
