<app-preguntas-editar [id]="idPreguntaSeleccionada"></app-preguntas-editar>
<table>
  <tr>
    <th>Título</th>
    <th>Categoría</th>
    <th>Pública</th>
    <th>Opciones</th>
  </tr>
  <tr *ngFor="let pregunta of preguntas">
    <td>{{ pregunta.titulo }}</td>
    <td>{{ pregunta.nombreCategoria }}</td>
    <td>{{ pregunta.esPublica }}</td>
    <td>
      <button (click)="alternarVisibilidad(pregunta)">Visibilidad</button>
      <button (click)="onEditar(pregunta.id)">Editar</button>
    </td>
  </tr>
</table>
