.layout {
  min-height: 100vh;
}

nz-content {
  padding: 0 50px;
  margin-top: 80px;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 380px;
}

nz-footer {
  text-align: center;
}

@media (min-width: 1200px) {
  nz-content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
