<nz-card>
  <form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="onCrear()">
    <nz-form-item>
      <nz-form-label nzFor="select-categoria" nzRequired
        >Categoría</nz-form-label
      >
      <nz-form-control>
        <nz-select
          nzId="select-categoria"
          formControlName="idCategoria"
          nzPlaceHolder="Selecciona una categoría"
          (ngModelChange)="onCambioCategoria()"
        >
          <nz-option
            *ngFor="let categoria of categorias"
            [nzValue]="categoria.id"
            [nzLabel]="categoria.nombre"
          ></nz-option>
          <nz-option [nzValue]="0" nzLabel="Otra"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <ng-container *ngIf="form.value.idCategoria === 0">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzXs]="24" [nzSm]="8" [nzMd]="6" [nzLg]="4">
          <nz-form-item>
            <nz-form-label>Imagen categoría</nz-form-label>
            <nz-upload
              style="aspect-ratio: 1"
              class="w-100"
              [nzAction]="rutaImg"
              nzName="imgCategoria"
              nzListType="picture-card"
              [nzShowUploadList]="false"
              [nzSize]="2048"
              [nzLimit]="1"
              nzFileType="image/png,image/jpeg"
              [nzBeforeUpload]="verificarImagen"
              (nzChange)="onCambioSubida($event)"
            >
              <ng-container *ngIf="!imgCategoria">
                <span
                  class="upload-icon"
                  nz-icon
                  [nzType]="cargandoImg ? 'loading' : 'plus'"
                ></span>
                <div class="ant-upload-text">Subir</div>
              </ng-container>
              <img
                *ngIf="imgCategoria"
                class="img-categoria"
                [src]="imgCategoria"
              />
            </nz-upload>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="16" [nzMd]="18" [nzLg]="20">
          <nz-form-item>
            <nz-form-label nzFor="nueva-categoria" nzRequired
              >Categoría nueva</nz-form-label
            >
            <nz-form-control>
              <input
                nz-input
                id="nueva-categoria"
                formControlName="categoria"
                placeholder="Categoría"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </ng-container>
    <nz-form-item>
      <nz-form-label nzFor="titulo" nzRequired>Título</nz-form-label>
      <nz-form-control>
        <textarea
          id="titulo"
          nz-input
          [rows]="4"
          formControlName="titulo"
          placeholder="Título de la nueva pregunta"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <div formArrayName="respuestas">
      <nz-form-item
        *ngFor="let respuesta of form.controls.respuestas.controls; index as i"
        [formGroupName]="i"
      >
        <nz-form-label [nzFor]="'respuesta' + i" nzRequired>
          <span>Respuesta {{ i + 1 }}</span>
          <nz-switch
            class="ms-16"
            [ngModelOptions]="{ standalone: true }"
            [ngModel]="respuesta.value.esCorrecta"
            [nzCheckedChildren]="correctaTpl"
            [nzUnCheckedChildren]="incorrectaTpl"
            (ngModelChange)="onCambioEsCorrecta(!respuesta.value.esCorrecta, i)"
          ></nz-switch>
        </nz-form-label>
        <nz-form-control>
          <input nz-input [id]="'respuesta' + i" formControlName="titulo" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <button nz-button nzType="primary" [disabled]="!form.valid">
      <span nz-icon nzType="highlight"></span>
      Crear pregunta
    </button>
  </form>
</nz-card>

<ng-template #correctaTpl><span nz-icon nzType="check"></span></ng-template>
<ng-template #incorrectaTpl><span nz-icon nzType="close"></span></ng-template>
