<form [formGroup]="form" (ngSubmit)="onCrear()">
  <div class="mb-3 form-floating">
    <select
      #selectCategoria
      class="form-select"
      (change)="onCambioCategoria(+selectCategoria.value!)"
    >
      <option selected disabled>-</option>
      <option *ngFor="let categoria of categorias" [value]="categoria.id">
        {{ categoria.nombre }}
      </option>
      <option [value]="0">Otra</option>
    </select>
    <label for="floatingSelect">Selecciona una categoría</label>
  </div>
  <ng-container *ngIf="+selectCategoria.value === 0">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="categoria"
        formControlName="categoria"
      />
      <label for="categoria">Categoría</label>
    </div>
  </ng-container>
  <div class="mb-3">
    <textarea class="form-control" formControlName="titulo"></textarea>
  </div>
  <div formArrayName="respuestas">
    <div
      *ngFor="let respuesta of getRespuestasFormArray().controls; index as i"
      class="mb-3"
      [formGroupName]="i"
    >
      <input class="form-control" formControlName="titulo" />
      <div class="form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          (change)="onCambioEsCorrecta(!respuesta.value.esCorrecta, i)"
          [checked]="respuesta.value.esCorrecta"
        />
      </div>
    </div>
  </div>
  <button class="btn btn-primary" [disabled]="!form.valid">
    Crear pregunta
  </button>
</form>
