<h2 *ngIf="vidasRestantes <= 0" class="text-center">
  Te has quedado sin vidas, más suerte la próxima vez, no puntuas.
</h2>
<h2 *ngIf="vidasRestantes > 0" class="text-center">
  Enhorabuena, has acabado la partida tienes un total de {{ puntos }} puntos.
</h2>

<div class="mt-48">
  <h2 class="text-center">Ranking 🏅</h2>
  <div nz-row nzJustify="center" class="pt-16">
    <div nz-col>
      <app-ranking></app-ranking>
    </div>
  </div>
</div>

<div nz-row class="mt-32" nzJustify="center">
  <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8">
    <a nz-button nzBlock nzType="primary" (click)="onJugar()">
      <span nz-icon nzType="question"></span>
      Volver a jugar
    </a>
  </div>
</div>

<div *ngIf="actividad" class="mt-32 mb-32">
  <h2 class="mb-16 text-center">Por si no te apetece echar otra podrías...</h2>
  <h4 class="text-center fs-cursive">
    {{ actividad.activity }}
  </h4>
</div>
