.logo {
  height: 50px;

  img {
    vertical-align: inherit;
  }
}

nz-header {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
}

[nz-menu] {
  line-height: 64px;
}
