<!-- <header>
  <button
    class="btn btn-outline-primary"
    data-bs-toggle="modal"
    data-bs-target="#modal-inicio-sesion"
    title="Inicio sesión"
  >
    <i class="bi bi-person-circle"></i>
  </button>
  <button
    class="btn btn-outline-primary"
    title="Cerrar sesión"
    (click)="onCerrarSesion()"
  >
    <i class="bi bi-person-circle"></i>
  </button>
</header>
<app-inicio-sesion></app-inicio-sesion>
<app-registro></app-registro> -->
<nz-header>
  <div class="logo"></div>
  <ul nz-menu nzTheme="dark" nzMode="horizontal">
    <li nz-menu-item>nav 1</li>
    <li nz-menu-item>nav 2</li>
    <li nz-menu-item>nav 3</li>
  </ul>
</nz-header>
