.logo {
  height: 50px;
}

.logo-reducido {
  height: 45px;
}

.logo,
.logo-reducido {
  img {
    vertical-align: inherit;
  }
}
nz-header {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 8px 32px;
  line-height: auto;
}
