<nz-header>
  <a class="logo" routerLink="/">
    <img class="h-100" src="assets/img/logo.png" />
  </a>
  <button
    *ngIf="!usuario"
    nz-button
    nz-tooltip
    nzTooltipTitle="Iniciar sesión/Registro"
    nzType="default"
    nzShape="circle"
    (click)="mostrarInicioSesion = true"
  >
    <span nz-icon nzType="user" nzTheme="outline"></span>
  </button>
  <div *ngIf="usuario" nz-row [nzGutter]="24">
    <div nz-col>
      <span nz-icon nzType="user" nzTheme="outline"></span>
      <strong> {{ usuario.nombre }}</strong>
    </div>
    <div nz-col>
      <button nz-button nzType="default" (click)="onCerrarSesion()">
        <span nz-icon nzType="poweroff" nzTheme="outline"></span>
        Salir
      </button>
    </div>
  </div>
</nz-header>
<app-inicio-sesion
  [(esVisible)]="mostrarInicioSesion"
  (abrirRegistro)="mostrarRegistro = true"
></app-inicio-sesion>
<app-registro
  [(esVisible)]="mostrarRegistro"
  (abrirInicioSesion)="mostrarInicioSesion = true"
></app-registro>
